{% extends 'bootstrap_3_layout.html.twig' %}
{% block form_row %}
{% spaceless %}
  <div class="form-group-sm">

      {{ form_label(form) }}
      {{ form_widget(form) }}
      {{ form_errors(form) }}
   </div>
{% endspaceless %}
{% endblock form_row %}